{
  "swagger": "2.0",
  "info": {
    "title": "Fact API",
    "version": "1.0.0",
    "description": "API for managing facts"
  },
  "host": "api.bee.computer",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/{userId}/facts": {
      "get": {
        "summary": "Get all facts for a user with paging",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string",
              "example": "me"
            },
            "required": true,
            "description": "ID of the user (currently only supports 'me')"
          },
          {
            "in": "query",
            "name": "confirmed",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter facts by confirmation status"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of facts"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a new fact for a user",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string",
              "example": "me"
            },
            "required": true,
            "description": "ID of the user (currently only supports 'me')"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created fact"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{userId}/facts/{id}": {
      "get": {
        "summary": "Get a specific fact for a user",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string",
              "example": "me"
            },
            "required": true,
            "description": "ID of the user (currently only supports 'me')"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "required": true,
            "description": "ID of the fact"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested fact"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Fact not found"
          }
        }
      },
      "put": {
        "summary": "Update a specific fact for a user",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string",
              "example": "me"
            },
            "required": true,
            "description": "ID of the user (currently only supports 'me')"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "required": true,
            "description": "ID of the fact"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "confirmed": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated fact"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Fact not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a specific fact for a user",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string",
              "example": "me"
            },
            "required": true,
            "description": "ID of the user (currently only supports 'me')"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "required": true,
            "description": "ID of the fact"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted fact"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Fact not found"
          }
        }
      }
    }
  }
}